<!-- Site footer -->
<footer class="site-footer">
  <div class = "container">

    <div class="grid-container">
      <div class="grid-item">

        <img src = " https://amai.tv/images/amaiLOGO-1.png" class = "logo-img">

      </div>

      <div class="grid-item inner-grid-container">

        <div class="grid-item"><a href="">About Us</a></div>
        <div class="grid-item"><a href="">Health and Social Care</a></div>
        <div class="grid-item"><a href="">Privacy Policy</a></div>
        <div class="grid-item"><a href="">Blog</a></div>
        <div class="grid-item"><a href="">Contact us</a></div>
        <div class="grid-item"><a href="">Finance</a></div>
        <div class="grid-item"><a href="">Cookie Policy</a></div>
        <div class="grid-item"><a href="">Jobs</a></div>


      </div>

    </div>
    <hr>

    <p>Copyright © 2021</p>

  </div>
</footer>
